<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>To-Do lists</title>
        <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/base.css" rel="stylesheet">
	</head>
	<body>
        <div class="container">

            <div class="navbar">
                {% if user.email %}
                    <p>Logged in as {{ user.email}}</p>
                    <p><a id="logout" href="{% url 'logout' %}">Sign out</a></p>
                {% else %}
                    <a href="#" id="login">Sign in</a>
                {% endif %}
                <p>User: {{user}}</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3 jumbotron">
                    <div class="text-center">
                        <h1>{% block header_text %}{% endblock %}</h1>
                        <form method="POST" action="{% block form_action %}{% endblock %}">
                            {{ form.text }}
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="form-group has-error">
                                    <div class="help-block">{{ form.text.errors }}</div>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    {% block table %}
                    {% endblock %}
                </div>
            </div>

        </div>
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="/static/list.js"></script>
    <script src="https://login.persona.org/include.js"></script>
    <script>
    $(document).ready(function() {

    var loginLink = document.getElementById('login');
    if (loginLink) {
      loginLink.onclick = function() { navigator.id.request(); };
    }

    var logoutLink = document.getElementById('logout');
    if (logoutLink) {
      logoutLink.onclick = function() { navigator.id.logout(); };
    }

    var currentUser = '{{ user.email }}' || null;
    var csrf_token = '{{ csrf_token }}';
    console.log(currentUser);

    navigator.id.watch({
      loggedInUser: currentUser,
      onlogin: function(assertion) {
        $.post('/accounts/login', {assertion: assertion, csrfmiddlewaretoken: csrf_token})
        .done(function() { window.location.reload(); })
        .fail(function() { navigator.id.logout();});
      },
      onlogout: function() {
        $.post('/accounts/logout')
        .always(function() { window.location.reload(); });
      }
    });

    });
    </script>
    </body>
    
</html>